<ion-view title="Cart" id="page2">
    <ion-content padding="false" class="has-header">
        <h2 id="cart-heading2" style="color:#000000;">My Cart</h2>
        <div class="item item-body" id="cart-list-item-container1">
            <div class="list card" id="cart-card21">
                <ion-item class="item-icon-left assertive" id="cart-list-item6">
                    <i class="icon ion-android-cancel"></i>Remove</ion-item>
                <div class="item item-body" id="cart-list-item-container2">
                    <ion-list id="cart-list4">
                        <ion-item id="cart-list-item10">Product
                            <span class="item-note">XYZ</span>
                        </ion-item>
                        <ion-item id="cart-list-item11">Price
                            <span class="item-note">123</span>
                        </ion-item>
                        <ion-item id="cart-list-item12">Quantity
                            <span class="item-note">1</span>
                        </ion-item>
                    </ion-list>
                </div>
                <ion-item id="cart-list-item7">Total
                    <span class="item-note">123</span>
                </ion-item>
            </div>
        </div>
        <div class="item item-body" id="cart-list-item-container5">
            <h2 id="cart-heading3" style="color:#888888;text-align:center;">Cart Totals</h2>
            <div class="list card" id="cart-card23">
                <ion-item id="cart-list-item13">Subtotal
                    <span class="item-note">123</span>
                </ion-item>
                <ion-item id="cart-list-item17">Total
                    <span class="item-note">123</span>
                </ion-item>
            </div>
            <button id="cart-button8" class="button button-balanced  button-block">Proceed to checkout</button>
        </div>
    </ion-content>
</ion-view>