<ion-view title="Checkout" id="page6">
    <ion-content padding="true" class="has-header">
        <h2 id="checkout-heading4" style="color:#000000;">Checkout</h2>
        <form id="checkout-form3" class="list">
            <label class="item item-input item-stacked-label" id="checkout-input5" name="gy-checkout-fname">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First name">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input6" name="gy-checkout-lname">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last name">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input7" name="gy-checkout-email">
                <span class="input-label">Email Address</span>
                <input type="email" placeholder="email address">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input8" name="gy-checkout-phone">
                <span class="input-label">Phone Number</span>
                <input type="tel" placeholder="phone number">
            </label>
            <label class="item item-select" id="checkout-select1" name="gy-checkout-country">
                <span class="input-label">Country</span>
                <select>
                    <option>India</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input9" name="gy-checkout-address">
                <span class="input-label">Address</span>
                <input type="text" placeholder="City Address">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input10" name="gy-checkout-city">
                <span class="input-label">City</span>
                <input type="text" placeholder="City / Town">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input11" name="gy-checkout-state">
                <span class="input-label">State</span>
                <input type="text" placeholder="State">
            </label>
            <label class="item item-input item-stacked-label" id="checkout-input12" name="gy-checkout-postcode">
                <span class="input-label">Postcode / ZIP</span>
                <input type="text" placeholder="postcode">
            </label>
            <ion-checkbox name="gy-checkout-createAccount">Create Account</ion-checkbox>
            <div class="spacer" style="width: 300px; height: 72px;"></div>
            <h3 id="checkout-heading5" style="color:#000000;font-weight:300;">Additional Information</h3>
            <label class="item item-input" id="checkout-textarea1" name="gy-checkout-notes">
                <span class="input-label">Other Notes</span><textarea placeholder="Notes about your order, e.g. special notes for delievery"></textarea>
            </label>
            <div class="list card" id="checkout-card24">
                <h4 id="checkout-heading6" style="color:#000000;font-weight:300;">Your order</h4>
                <ion-item class="item-divider" id="checkout-list-item-divider1">Product</ion-item>
                <ion-list id="checkout-list10">
                    <ion-item id="checkout-list-item33">XYZ
                        <span class="item-note">123</span>
                    </ion-item>
                    <ion-item id="checkout-list-item34">ABC
                        <span class="item-note">456</span>
                    </ion-item>
                    <ion-item id="checkout-list-item35">Item 3</ion-item>
                </ion-list>
            </div>
        </form>
    </ion-content>
</ion-view>