<ion-view title="Gyaneo">
    <ion-content scroll="true">
        <ion-slides class="home-slider" options="options" slider="data.slider">
            <ion-slide-page class="box-container">
                <div class="box"></div>
            </ion-slide-page>
            <ion-slide-page class="box-container">
                <div class="box"></div>
            </ion-slide-page>
            <ion-slide-page class="box-container">
                <div class="box"></div>
            </ion-slide-page>
        </ion-slides>
        <div class="category-section section padding-vertical text-center">
            <h2>Top Categories</h2>
            <div class="padding-vertical">
                <div class="row">
                    <div class="col col-50">
                        <h5>Novels</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Literature</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Sports</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>History</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Exam Prep</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Law</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Romance</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Fiction</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-calm button-block">See all categories</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-section section padding-vertical text-center">
            <h2>Recent Ads</h2>
            <div class="padding-vertical">
                <div class="row">
                    <div class="col col-50">
                        <h5>Novels</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Literature</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Sports</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>History</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Exam Prep</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Law</h5>
                        <img src="img/home-slider/home-slider3.jpg" alt="Novel" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <h5>Romance</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                    <div class="col col-50">
                        <h5>Fiction</h5>
                        <img src="img/home-slider/home-slider1.jpg" alt="Novel" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>