<ion-view title="Signup" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list">
            <ion-list id="signup-list3">
                <label class="item item-input item-floating-label" id="signup-input3" name="gy-signup-username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input item-floating-label" id="signup-input4" name="gy-signup-email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email address">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <div id="signup-markdown1" style="color:#000000;">
                <p>Registration confirmation will be emailed to you</p>
            </div>
            <button id="signup-button3" class="button button-positive  button-block">Register</button>
        </form>
        <a ui-sref="gyaneo2.login" id="signup-button4" style="text-align:left;" class="button button-stable  button-clear">Log in</a>
        <a ui-sref="gyaneo2.login" id="signup-button5" style="text-align:left;" class="button button-stable  button-clear">Lost your password</a>
        <a ui-sref="gyaneo2.gyaneo" id="signup-button6" class="button button-balanced  button-block button-clear">Back to Gyaneo</a>
    </ion-content>
</ion-view>